@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Aligner">
    <div class="Aligner-item">
        <h1>Clarence Project</h1>        
        <a asp-page="/Joueurs/Index">Les joueurs</a>
    </div>
</div>
